

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff6c8;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
nav {
    background-color: rgb(140, 95, 60);
    height: 150px;
}
   

}
.h11 {
    text-align: center;
    height: 85px;
}
h1 {
    color: white;
    font-size: 70px;
    margin: -11px;
    line-height: 150px;
}

.div1 {
   height: 42px;
}


a {
    background-color: #543720;
    color:#c7d5ad;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 60px;
    margin-left: 6px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px spolid #543720;
    

}
a:hover {
    background-color: #36462b;
    color: #c7d5ad

}



.h21 {
    text-align:left;
    color: #634630;
    font-size: 57px;
    position: absolute;
    top: 25%;
    left:3%;

}
.h31 {
    text-align:left;
    color: #634630;
    font-size: 45px;
    position: absolute;
    top: 53%;
    left:3%;
    height: px;
}
.button4 {
    background-color: #543720;
    border: 1px spolid #543720;
    color: #c7d5ad;
    padding: 2.25rem 3.188rem;
    text-align: center;
    font-size: 2.9rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 27rem;
    left: 3.5rem;
    text-decoration: none;
    transition: all 0,5s;
    width: 25rem;
    margin: 0.3rem;

}

.button4 span {
    cursor:pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}
.button4:hover span {
    background-color: #36462b;
    color: #c7d5ad;
    padding-right:1.563rem;
}
.button4:hover span:after {
    opacity: 1;
    right:0;
}

.facts {
   float: left;
   padding: 0.313rem;
}
.mainnav a:hover {
    background-color: white;
    color:rgb(127, 86, 56);
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25rem 0.625rem;
    margin: 0.625rem;
    border-radius: 0.5rem;

}
.img1 {
    border-radius: 20px;
    float: right;
    margin-top: 90px;
    margin-right: 10%;
    border: 7px solid #543720;
    display: block;
}
.img2 {
    border-radius: 20px;
    float: left;
    margin-top: 220px;
    margin-left: 70%;
    border: 7px solid #543720;
    position: absolute;
    z-index: 10;
}
.facts {

}






