nav {
    background-color: saddlebrown;
    height: 80px
    
}
.h11 {
    text-align: center;
}
.p1 {
    text-align: center;
    height: 42px;
}

.div1 {
   height: 42px;
}

.button1 {
    background-color: burlywood;
    border: none;
}
